<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>uTrip</title>	    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/bootstrap-clockpicker.min.css') }}" />

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.3.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/my-js.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bootstrap-clockpicker.min.js') }}"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-default__edited">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="{{ url_for('static', filename='img/utrip.png') }}">
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner carousel-inner__images" role="listbox">
                        <div class="item active" style="background-image: url({{ url_for('static', filename='img/wallpaper-1.jpg') }})">
                        </div>
                        <div class="item" style="background-image: url({{ url_for('static', filename='img/wallpaper-2.jpg') }})">
                        </div>
						<div class="item" style="background-image: url({{ url_for('static', filename='img/wallpaper-3.jpg') }})">
                        </div>
                    </div>
                </div>
				<div class="main-content">
					<div class="text-opening">
						<h2>When in Doubt, Travel! </h2>
						<ul>
							<li>
								with <span><img  id="logo-in-text" alt="Brand" src="{{ url_for('static', filename='img/utrip.png') }}"></span> , let's explore
							</li>
							<li>
								<span class="subtagline__word"></span>
							</li>
						</ul>
					</div>
					<div name="search-engine-container" class="search-engine-container container">
                        <p class="error"></p>
                        <form>


							<div class="form-group">
								<label>Destination</label>
								<input name="place" id="autocomplete" type="text" list="json_places" class="form-control destination" placeholder="Jakarta">
							</div>
							<div class="form-group">
								<label>Things To Do</label>
								<input name="categories" type="text" class="form-control things-todo" placeholder="Shopping">
							</div>
						  <div class="form-group">
								<label>From</label>
                                <input name="from" type="text" class="form-control time-interval" id="from" />
							</div>
						 <div class="form-group">
								<label>Until</label>
                                <input name="until" type="text" class="form-control time-interval" id="until" />
							</div>
							<div class="form-group">
								<button id="link" class="form-group btn btn-primary" type="button">Search</button>
							</div>
						</form>
					</div>
				</div>
            </div>
        </div>
    </div>


        <div class="result">
            <div class="container">
                <ul id="result">             
                    <li class="template">
                        <div class="left-side pull-left width-50">
                            <div class="photo-detail" style=" background-image:url({{ url_for('static', filename='img/gambar-1.jpg') }})">
                            </div>
                            <div class="desc-detail">
                                <p class="title-place">
                                </p>
                                <p class="desc-place">
                                </p>
                            </div>
                        </div>
                        <div class="right-side pull-right width-50 text-right">
                            <div class="list-rating">
                                <ul>
                                    <li>
                                        <span class="address-place"></span>
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </li>
                                    <li>
                                        <span class="rating-place"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </li>
                                    <li>
                                        <span class="time-place"></span>
                                        <span class="glyphicon glyphicon-time"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="checklist">
                                <label>
                                    <input class="check-place" type="checkbox">
                                </label>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="text-center button-create">
                    <button id="link-itinerary" type="button" class="btn btn-primary" data-toggle="modal">Create Itinerary</button>
                </div>
            </div>
        </div>

    <!-- Large modal -->
    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title"><img  id="logo-in-modal" alt="Brand" src="{{ url_for('static', filename='img/utrip.png') }}"></span><h4 id="myModalLabel">Your Itinerary</h4>
                </div>
                    <div id="loading" style="display:none"></div>
                    <div class="modal-body" style="display:none">
                        <table id="itinerary-result" class="result-table table table-bordered table-striped table-hover">
                            <tr class="itinerary-template">
                                <td class="itinerary-time col-md-2">
                                    Time
                                </td>
                                <td class="itinerary-location col-md-3">
                                    Location
                                </td>
                                <td class="itinerary-address col-md-5">
                                    Address
                                </td>
                                <td class="itinerary-action col-md-1">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="display:none">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="download-itinerary" class="btn btn-primary" type="submit">Download as PDF</button>
                    </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-profile footer-profile__logo">
                <img src="{{ url_for('static', filename='img/piir.png') }}" />
            </div>
            <div class="footer-profile footer-profile__desc">
                <span>We are Piir from Fasilkom - Universitas Indonesia.</span><br />
                <span>Our team consists of four students majoring in Computer Science</span><br />
                <span>This website is made for our Information Retrieval class final project.</span><br />
            </div>
            <div class="footer-profile footer-profile__photos">
                <ul>
                    <li>
                        <img src="{{ url_for('static', filename='img/user-default.png') }}" />
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/user-default.png') }}" />
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/user-default.png') }}" />
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/user-default.png') }}" />
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--<div id="hasil" style="width: 100%; height: 500px;">

    </div>-->
</body>
    <script type="text/javascript">
    $('.clockpicker').clockpicker()
        .find('input').change(function(){
            // TODO: time changed
            console.log(this.value);
        });
    $('#from').clockpicker({
        autoclose: true
    });
    $('#until').clockpicker({
        autoclose: true
    });


    </script>
</html>
